<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="{{ page.title }}, {% for tag in page.tags %}{{ tag }},{% endfor %} {{ site.title }}" />
    <meta name="description" content="{{ page.title }}, {% for tag in page.tags %}{{ tag }},{% endfor %} {% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

    <link rel="shortcut icon" type="image/x-icon" media="screen" href="{{ '/static/favicon.ico' | prepend: site.baseurl | prepend: site.url}}" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}"  />

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ '/static/octicons/octicons.css' | prepend: site.baseurl | prepend: site.url}}" />

    {% if page.date %}
    <link rel="stylesheet" type="text/css" href="{{ '/static/css/highlight.css' | prepend: site.baseurl | prepend: site.url}}" />
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{{ '/static/css/style.css' | prepend: site.baseurl | prepend: site.url}}" />
    {% for style in page.styles %}<link rel="stylesheet" type="text/css" href="{{ '/static/css/' | append: style | prepend: site.baseurl | prepend: site.url}}" />
    {%endfor%}

  <link rel="stylesheet" href="/static/css/shCore.css" type="text/css" />
  <link rel="stylesheet" href="/static/css/shThemeDefault.css" type="text/css">
  <script src="/static/js/shCore.js" type="text/javascript" ></script>
  <script src="/static/js/shBrushBash.js" type="text/javascript" ></script>
  <script src="/static/js/shBrushPython.js" type="text/javascript" ></script>
  <script src="/static/js/shBrushPhp.js" type="text/javascript" ></script>
  <script type="text/javascript">
     SyntaxHighlighter.all()
  </script>

</head>
